body{
    text-align: center;

}
h1{
    color: white;
}
header{
    background-color:black;
    padding: 10px;
    height: 150px;

}
nav ul li{
    display: inline;
    padding: 8px;
    margin-top: 50px;
    float: right;
}
nav ul li a{
    color: burlywood;
    border-inline: none;
    text-decoration: none;
}
li{
    display: inline;
}
footer{
    background-color: rgb(40, 29, 29);
    height: 75px;
    color: aliceblue;
    padding: 20px;
}
#Portfolio{
    background-color: rgb(171, 255, 81);
    padding: 10px;

}
.social{
    margin-top: 80px;
    margin-right: 950px;
}
.social li a{
    text-decoration: none;
    margin-top: 80px;
    color: burlywood;
    margin-right: 40px;
}
